header {
    
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.098);
    background-color: rgba(250, 235, 215, 0.326);
    z-index: 10;
}

header nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    height: 68px;
    
}

.navigation {
    display: flex;
    flex-grow: 1;
}


.logoo {
    height: 50px;
}



header .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 

.navigation-ul {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    margin-left: auto !important;

}

header a {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: .875rem;
    padding-left: .875rem;
    font-weight: 500;
    transition: 0.3s;
}

.contact {
    border: 1px solid #000000;
    padding: 10px;
    color: #000000;
    transition: 0.4s;
}

.contact:hover{
    border-radius: 20px;
}

.home {
    color: #5fac7d;
}

.down-arrow {
    height: 10px;
    margin-right: 20px;
    transition: transform 0.5s ;
    
}

.down-arrow-res {
    height: 10px;
    margin-right: 20px;
    transition: transform 0.5s ;
    
}

.rotate {
    transform: rotate(180deg);
}

.navresponsive .navigation-ul {
 margin-left: 350px !important;
 margin-top: 20px !important;
} 



@media (min-width: 1200px){
    .navresponsive {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .navigation {
       display: none;
    }

    .bars {
        margin-left: 650px;
        display: block !important;
    }
    .logoo {
        margin-left: 50px;
    }

    .cards {
        flex-wrap: wrap;
        padding: 20px !important;
    }

   
}

@media (max-width: 1020px) {
    .bars {
        margin-left: 420px;
        display: block !important;
    }
    .logoo {
        margin-left: 100px;
    }
    .navresponsive .navigation-ul {
        margin-left: 250px !important;
        margin-top: 20px !important;
       }
}

@media (max-width: 850px) {
    .bars {
        margin-left: 120px;
        display: block !important;
    }
    .logoo {
        margin-left: 150px;
    }

    .navresponsive .navigation-ul {
        margin-left: 90px !important;
        margin-top: 20px !important;
       }

       
}

@media (max-width: 590px) {
    .bars {
        margin-left: 40px;
        display: block !important;
    }
    .logoo {
        margin-left: 40px;
    }
    .navresponsive .navigation-ul {
        margin-left: 50px !important;
        margin-top: 20px !important;
       }
}
@media (max-width: 530px) {

    .navresponsive .navigation-ul {
        margin-left: 20px !important;
        margin-top: 20px !important;
       }
}
@media (max-width: 510px) {

    .navresponsive .navigation-ul {
        margin-left: 20px !important;
        margin-top: 20px !important;
        display: flex;
        flex-direction: column;
       }

    .navresponsive .navigation-ul li {
        margin-top:20px ;
        margin-bottom:20px ;
    }

    .navresponsive {
        height: 260px;
    }

    .menu-deroulant-res {
        margin-top: 18px;
        background-color: rgba(255, 255, 255, 0.817) !important;
        margin-right: 15px;
    }

    .card {
        margin-bottom: 40px !important;
    }
}
@media (max-width: 399px) {

    .logoo {
        margin-left: 5px;
    }

    .bars {
        margin-left: 5px;

    }
}

